__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
venv/
.venv/
build/
dist/
*.spec
AudioTranscriber.spec
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
*.log
transcriptions.db
*.ogg
*.mp3
# .streamlit/
